*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Chillax", sans-serif;
}

body {
  display: flex;
}

aside {
  background-color: #332f2f;
  width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-section {
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 5px;
}

.add {
  height: 50px;
  margin-bottom: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #545e6c;
}

.field {
  width: 100%;
}

::placeholder {
  padding: 1px 3px;
  color: #233142;
}

#checks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3px 0;
}

#print-check {
  width: 80%;
  border-bottom: 1px dotted white;
  display: flex;
  justify-content: space-evenly;
}

#status-check {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  padding: 5px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#checks div {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  align-self: center;
  color: #fff;
  padding: 10px 15px;
  background-color: #545e6c;
  border: none;
}

#collection-form {
  display: flex;
  flex-direction: column;
}

#wishlist-form {
  display: flex;
  flex-direction: column;
}

#wishlist-form .submit {
  margin-top: 5px;
}

label {
  font-size: 15px;
  color: white;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  padding: 25px;
  align-self: flex-start;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

nav li {
  padding: 5px 15px 5px 0;
  cursor: pointer;
  border-right: 1px solid;
}

nav li:hover {
  text-decoration: underline;
}

nav li:last-child {
  border-right: none;
  padding-left: 15px
}

#collection-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

#wishlist-container {
  display: none;
  height: 100%;
  overflow: scroll;
}

#wishlist-container.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  height: calc(100vh - 309px);
}

.card {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 300px);
  align-items: flex-start;
  border-bottom: 1px solid;
  margin: 10px;
}

.card-title {
  /* font-size: 22px; */

  /* text-shadow: 5px 5px 10px rgba(97, 79, 137, 0.4); */

  /* color: #614f89; */
  color: black;
  text-align: left;
}

/* .card div p {
  padding: 0 10px;
} */

/* .card p {
  padding: 0 10px;
} */

.info {
  font-size: 17px;
}

.status {
  width: 186px;
  display: flex;
  align-items: center;
}

.remove {
  padding: 5px 10px;
  border: none;
  background-color: #332f2f;
  border-radius: 30px;
  color: #fff;
  margin: 0 10px;
}

/* The switch - the box around the slider */
.switch-input {
  margin-right: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #332f2f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a3d4b5;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.move {
  padding: 5px 10px;
  border: none;
  border-radius: 30px;
  margin: 0 10px;
  background-color: #332f2f;
  color: #fff;
}

.purchase {
  color: #000
}

.purchase:hover {
  color: #545e6c;
}
